<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Update Food Item Details</h3>
                </div>
                <div class="card-body">
                    <form #registerationForm="ngForm" (ngSubmit)="updateProduct()">

                        <div class="form-group">
                            <label for="fname">Food Item Name:</label>
                            <input type="text" class="form-control" required #fname="ngModel"
                                placeholder="Enter food item name" id="fname" name="name" [(ngModel)]="product.name"
                                ngModel>
                            <span *ngIf="fname.invalid && fname.touched" style="color: red">Please enter a valid
                                food item name.</span>

                        </div>

                        <div class="form-group">
                            <label for="rcmd">Recommendation:</label>
                            <input type="text" class="form-control" required #rcmd="ngModel"
                                placeholder="Enter recommendation for food item" id="rcmd" name="recommendation"
                                [(ngModel)]="product.recommendation" ngModel>
                            <span *ngIf="rcmd.invalid && rcmd.touched" style="color: red">Please enter a valid
                                recommendation.</span>
                        </div>

                        <br>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="cuisineType">Cuisine Type:</label>&nbsp;&nbsp;&nbsp;
                                <select id="cuisineType" class="form-control col-lg-6 col-md-9 col-sm-10"
                                    [(ngModel)]="product.cuisineType" name="cuisineType" #cuisineType="ngModel" required
                                    ngModel>
                                    <option selected>Choose...</option>
                                    <option value="NORTH INDIAN">North Indian</option>
                                    <option value="SOUTH INDIAN">South Indian</option>
                                    <option value="GUJARATI">Gujarati</option>
                                    <option value="CHINESE">Chinese</option>
                                    <option value="ITALIAN">Italian</option>
                                    <option value="MEXICAN">Mexican</option>
                                </select>
                                <span *ngIf="cuisineType.invalid && cuisineType.touched" style="color: red">Please
                                    choose a cuisine type.</span>
                            </div>

                            <div class="form-group">
                                <label for="dietType">Diet Type:</label>&nbsp;&nbsp;&nbsp;
                                <select id="dietType" class="form-control col-lg-6 col-md-9 col-sm-10"
                                    [(ngModel)]="product.dietType" name="dietType" #dietType="ngModel" required ngModel>
                                    <option selected>Choose...</option>
                                    <option value="Vegetarian">Vegetarian</option>
                                    <option value="Non-Vegetarian">Non-Vegetarian</option>
                                </select>
                                <span *ngIf="dietType.invalid && dietType.touched" style="color: red">Please
                                    choose a diet type.</span>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="st">Cuisine Category:</label>
                            <input type="text" class="form-control" required #st="ngModel"
                                placeholder="Enter cuisine category" id="st" name="subType"
                                [(ngModel)]="product.subType" ngModel>
                            <span *ngIf="st.invalid && st.touched" style="color:red">Please enter a valid
                                cuisine category.</span>
                        </div>

                        <div class="form-group">
                            <label for="pc">Unit Price:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#8377;</span>
                                </div>
                                <input type="number" required #pc="ngModel" class="form-control"
                                    placeholder="Enter food item unit price" id="pc" name="price"
                                    [(ngModel)]="product.price" ngModel>
                            </div>
                            <span *ngIf="pc.invalid && pc.touched" style="color: red">Please enter a valid
                                unit price.</span>
                        </div>

                        <div class="form-group">
                            <label for="desc">Food Item Description:</label>
                            <input type="text" class="form-control" required #desc="ngModel"
                                placeholder="Enter a food item description" id="desc" name="description"
                                [(ngModel)]="product.description" ngModel>
                            <span *ngIf="desc.invalid && desc.touched" style="color:red">Please enter a valid
                                food item description.</span>
                        </div>

                        <hr>
                        <div class="text-center">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success" [disabled]="registerationForm.invalid"
                                    data-toggle="modal" data-target="#myModal">Update Details</button>
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update Food Item Details</h4>
                                                <button type="button" class="close" (click)="onClick()"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span *ngIf="isValid" style="color:green">{{message}}</span>
                                                <span *ngIf="!isValid" style="color: red">{{message}}</span>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    (click)="onClick()">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>


        </div>
    </div>
</div>